<div class="form-group">
  <%= f.field_container :slide_group_id do %>
    <%= label_tag :slide_group_id, t(:slide_group_id) %><br />
    <%= f.select :slide_group_id, options_for_select( SpreeSlider.slide_groups.map{|s| [s[:text],s[:id].to_s] }, f.object.slide_group_id), include_blank: false  %>
  <% end %>
</div>

<div class="form-group">
  <%= f.field_container :product_id do %>
    <%= label_tag :product_id, t(:product) %><br />
    <%= hidden_field_tag 'slide[product_id]', f.object.product_id.to_s, class: 'product_picker fullwidth' %>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :name, t(:name) %>
  <%= f.text_field :name, placeholder: t('spree_slider.placeholder_name'), class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :body, t(:body) %>
  <%= f.text_area :body, { cols: 60, rows: 4, class: 'form-control' } %>
</div>

<div class="form-group">
  <%= f.label :link_url, t(:link_url) %>
  <%= f.text_field :link_url, placeholder: t('spree_slider.placeholder_link_url'), class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :image, t(:image) %> <i>(<%= t('spree_slider.image_tip') %>)</i>
  <% if f.object.image? %>
    <p><%= image_tag f.object.image_url('small'), class: 'img-responsive' %></p>
  <% end %>
  <%= f.file_field :image %>
</div>

<div class="checkbox">
  <label>
    <%= f.check_box :published %> <%= t(:published) %>
  </label>
</div>

<div class="form-group">
  <%= f.label :position, t(:position) %>
  <%= f.number_field :position, class: 'form-control' %>
</div>

