<% content_for :page_actions do %>
  <h1 class="pull-left"><%= t("spree_slider.title") %></h1>
  <div class="row">
    <div class="col-sm-12">
      <div class='pull-left add-slider'>
        <%= button_link_to "+ #{t('spree_slider.new_slide')}", new_object_url, class: 'btn btn-success', id: 'admin_new_slide_link' %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>


<table class="table table-condensed index sortable" id="listing_slides" data-hook data-sortable-link="<%= update_positions_admin_slides_url %>" >
  <thead>
  <tr data-hook="admin_slides_index_headers">
    <th><%= Spree.t(:image) %></th>
    <th><%= Spree.t(:name) %></th>
    <th><%= Spree.t(:product) %></th>
    <th><%= Spree.t(:published) %></th>
    <th data-hook="admin_slides_index_header_actions" class="actions"><%= Spree.t('spree_slider.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% last_slide_group_id = nil -%>
  <% @slides.each do |slide|%>
    <% if last_slide_group_id != slide.slide_group_id 
      last_slide_group_id = slide.slide_group_id 
      %>
      <tr>
        <td class='info' colspan='6'><strong><%= slide.group_text||Spree.t(:no_group) %></strong></td>
      </tr>
    <% end %>
    <tr id="<%= spree_dom_id slide %>" data-hook="admin_slides_index_rows">
      <td>  
        <%= image_tag slide.image_url('small'), class: 'img-responsive', style: 'max-height: 150px' %>
      </td>
      <td><%= link_to slide.name, object_url(slide) %></td>
      <td><%= link_to slide.product.try(:name)||"", object_url(slide) unless slide.product_id.blank? %></td>
      <td><%= slide.published ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
      <td data-hook="admin_slides_index_row_actions" class="actions">
        <%= link_to_edit slide, no_text: true, class: 'edit' %>
        &nbsp;
        <%= link_to_delete slide, no_text: true %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

